{% unless product.metafields.meta.references == blank %}

<section class="Faq faqs-container-core references-core" style="background: {{ section.settings.background_color }};">
    <div class="container">
        <div class="faqs">

            <div class="Collapsible Collapsible--large">
                <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
                    <p class="Button-title" style="color: {{ section.settings.text_color }}">REFERENCES</p><span
                        class="Collapsible__Plus" style="color: {{ section.settings.text_color }}"></span>
                </button>

                <div class="Collapsible__Inner">
                    <div class="Collapsible__Content" style="background: {{ section.settings.background_color }};">
                        <div class="Rte" style="color: {{ section.settings.text_color }};">
                            {{ product.metafields.meta.references }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="Collapsible Collapsible--large">
                <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
                    <p class="Button-title" style="color: {{ section.settings.text_color }}">Product Warnings</p> <span
                        class="Collapsible__Plus" style="color: {{ section.settings.text_color }}"></span>
                </button>

                <div class="Collapsible__Inner">
                    <div class="Collapsible__Content" style="background: {{ section.settings.background_color }};">
                        <div class="Rte" style="color: {{ section.settings.text_color }};">
                            {% if product.tag contains 'supplement' or product.type == 'Supplements' %}
                                <div class="references_font">
                                    {{ product.metafields.product_compliance.adults_only.value }} {{ product.metafields.product_compliance.fda_disclaimer.value }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="references_font_p65warning"><i
                                class="fas fa-exclamation-triangle"></i>&nbsp;WARNING: Consuming this product can expose
                            you to chemicals including lead, which is known to the State of California to cause cancer,
                            birth defects or other reproductive harm. For more information go to <a target="_blank"
                                href="https://www.P65Warnings.ca.gov/food">www.P65Warnings.ca.gov/food</a>.</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>
{% endunless %}