{%- comment %}<locksmith:2d0f>{% endcomment -%}
  {%- include 'locksmith' -%}
{%- comment %}</locksmith:2d0f>{% endcomment -%}

<!doctype html>  

<html class="no-js" lang="{{ shop.locale }}">
  <head>
	{{ locksmith_initializations }}
	<!-- Added by AVADA SEO Suite -->
	{% include 'avada-seo' %}
	<!-- /Added by AVADA SEO Suite -->
	{% render 'pandectes-rules' %}
	
	
	
	
	
	
	

    {% include 'wp_shopify_tracking' %}
	
	
		
    {% render 'wp_shopify_tracking' %}
    
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    <title> 
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    
	{% comment %} {% section 'footer.disclaimer' %} {% endcomment %}
    
    {%- if page_description -%}
    
    {%- comment %}<locksmith:9c9a>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="description" content="{{ page_description | escape }}">{% endif -%}
      {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:9c9a>{% endcomment -%}
  
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://5percentnutrition.com" crossorigin>

    {% render 'social-meta-tags' %}

    {% comment %} {#%#include 'GPO_script'#%#} {% endcomment %}
    
    {% render 'wlm-head' %}

    {% render 'google-tag-manager' %}

    {% render 'microdata-schema' %}

<!-- BEGIN CONTENT_FOR_HEADER -->
    {{ content_for_header }}
<!-- END CONTENT_FOR_HEADER -->
    
    <link rel="stylesheet" href="https://use.typekit.net/oqg3szt.css">   
    <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'new-theme.css' | asset_url }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" referrerpolicy="no-referrer" />	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" referrerpolicy="no-referrer" />
    <link rel="preload" as="font">
    
    {% if template == "page.main-blog" or template.name == 'blog' or template.name == 'article' %}
      <link rel="stylesheet" href="{{ 'custom-new.css' | asset_url }}">
        {% render 'recipes-static' %}
        {{ 'recipes.scss.css' | asset_url | stylesheet_tag }}
        {% render 'recipes-custom-css' %}
    {% endif %}

    
    {% comment %}PRC EDITED{% endcomment %}
    <link rel="stylesheet" href="{{ 'prc.css' | asset_url }}">
    {% comment %}END PRC EDITED{% endcomment %}

    
    {% comment %}PRC EDITED ADD GOOGLE ADS{% endcomment %}
    {% if template.name == 'article' %}
      {% render 'prc-web-ads', article: article %}
    {% endif %}
    {% comment %}END PRC EDITED{% endcomment %}    

    
    <script defer>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        template: {{ template.name | json }},
        shopCurrency: {{ shop.currency | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        currencyConversionEnabled: {{ settings.currency_conversion_enabled | json }},
        currencyConversionMoneyFormat: {{ settings.currency_conversion_money_format | json }},
        currencyConversionRoundAmounts: {{ settings.currency_conversion_round_amounts | json }},
        productImageSize: {{ settings.product_image_size | json }},
        searchMode: {{ settings.search_mode | json }},
        showPageTransition: {{ settings.show_page_transition | json }},
        showElementStaggering: {{ settings.show_element_staggering | json }},
        showImageZooming: {{ settings.show_image_zooming | json }},
        enableExperimentalResizeObserver: false
      };

      window.languages = {
        cartAddNote: {{ 'cart.general.add_note' | t | json }},
        cartEditNote: {{ 'cart.general.edit_note' | t | json }},
        productImageLoadingError: {{ 'product.slideshow.image_loading_error' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMoreResults: {{ 'cart.shipping_estimator.more_results_title' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.5,
        expFactor: 2,
        ricTimeout: 150,
        lazyClass: 'Image--lazyLoad',
        loadingClass: 'Image--lazyLoading',
        loadedClass: 'Image--lazyLoaded'
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      document.documentElement.style.setProperty('--window-height', window.innerHeight + 'px');

      // We do a quick detection of some features (we could use Modernizr but for so little...)
      (function() {
        document.documentElement.className += ((window.CSS && window.CSS.supports('(position: sticky) or (position: -webkit-sticky)')) ? ' supports-sticky' : ' no-supports-sticky');
        document.documentElement.className += (window.matchMedia('(-moz-touch-enabled: 1), (hover: none)')).matches ? ' no-supports-hover' : ' supports-hover';
      }());

      window.onpageshow = function (event) {
        if (event.persisted) {
          window.location.reload();
        }
      };
    </script>
  {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script> {% endcomment %}
    <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script>

    {% if settings.currency_conversion_enabled %}
    <script src="//cdn.shopify.com/s/javascripts/currencies.js" ></script>
    {% endif %}

    {%- if template == 'customers/addresses' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" async ></script>
    <script src="{{ 'customer_area.js' | shopify_asset_url }}" async></script>
    {%- endif -%}
<!--script src="{{ 'reamaze-loader.js' | shopify_asset_url }}" ></script-->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,Element.prototype.closest,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,Object.assign,CustomEvent,IntersectionObserver,IntersectionObserverEntry" ></script>
    
    <script src="{{ 'libs.min.js' | asset_url }}" async ></script>
    <script src="https://player.vimeo.com/api/player.js" async></script>
    <script src="{{ 'theme.min.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>
    <script src="{{ 'my-custom.js' | asset_url }}" defer></script>
    {% comment %}
    <script src="{{ 'custom.min.js' | asset_url }}" ></script>
    {% endcomment %}
    
    {% comment %}
    <script src="{{ 'combine.min.js' | asset_url }}" defer></script>
    {% endcomment %}
    
    {% if template == 'product' %}
    <link rel="stylesheet" href="{{ 'lightbox.css' | asset_url }}">
   {% endif %}

    {% include 'activecampaign-tracking' %}

{% comment %} include 'sca.freegifts' {% endcomment %}
    {% render 'shogun-head' %}

    {% include 'fontawesome' %}

    {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
    {%- assign time_now = 'now' | date: '%s' %}
    {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
    {%- assign diffSeconds = time_now | minus: yotpo_live_time %}
    
    {%- if yotpo_offload_content == 'yes' and diffSeconds < 86400 -%}
   	 {{ 'yotpo-full-css.css' | asset_url | stylesheet_tag }}
    {%- endif -%}

    
<!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
{% render 'reamaze-config' %}
{% render 'reamaze-sso' %}
<script>
if (window.location.href.indexOf("sale") > -1) {
  _support['ui']['widget'] = false;
}
</script>
<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->
   

    {% if template contains 'account-edit' %}  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    {% endif %}

    {%- if settings.tracking_scripts -%}
    {{ settings.tracking_scripts }}
    {%- endif -%}


    <!--% render 'easy-gdpr-settings' %-->
	<!-- GDPR/CCPA/APPI/Cookie Consent: Pandectes tag-rules: place always first on your head section -->
	
    
    {%- render 'ordergroove_static_asset' -%}
  
</head>
            
  <body class="{% if template contains 'bigger-by-the-day' %} bigger-by-day {% endif %} {% if template contains 'product-breakdowns' %} products-breakdown {% endif %}{% if template contains 'main-blog' %} main-blog-page {% elsif template contains 'articles' %} blog-articles-template {% endif %} prestige--v3 {% if template.directory %}template-{{ template.directory | handle }}{% endif %} template-{{ template.name | handle }} {{ template }}">
    
	<!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWBJGZR" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
	<!-- End Google Tag Manager (noscript) -->
    
    <a class="PageSkipLink u-visually-hidden" href="#main">{{ 'header.navigation.skip_to_content' | t }}</a>
    <span class="LoadingBar"></span>
    <div class="PageOverlay"></div>
    <div class="PageTransition"></div>

    {% section 'sidebar-menu' %}

    {%- if template != 'cart' -%}
    {% include 'cart-drawer' %}
    {%- endif -%}

    <div class="PageContainer">
      {% section 'announcement' %}
      {% section 'header' %}

      <main id="main" role="main">
        {%- render 'ordergroove_global' -%}{% comment %}{{ content_for_layout }}{% endcomment %}{% include 'wlm-body' %}
      </main>

      {% section 'footer-coreline' %}
      {% section 'footer' %}

    </div>

    {% include 'smile-initializer' %}

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    SEARCH FORM (available globally)
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div id="Search" class="Search Modal Modal--fullScreen" aria-hidden="true" data-scrollable>
      <div class="Search__SearchBar">
        <form action="/search" name="GET" role="search" class="Search__Form">
          <input type="search" class="Search__Input Heading" name="q" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="{{ 'search.general.input_placeholder' | t }}" autofocus>
          <input type="hidden" name="type" value="product">
        </form>
        <button class="Search__Close Link Link--primary" data-action="close-modal">{% include 'icon' with 'close' %}</button>
      </div>

      <div class="Search__Results">
        {%- if settings.search_mode != 'product' -%}
        <div class="PageLayout PageLayout--breakLap">
          <div class="PageLayout__Section"></div>
          <div class="PageLayout__Section PageLayout__Section--secondary"></div>
        </div>
        {%- endif -%}
      </div>
    </div>

    <!-- JS MARKER -->

    
    {% include 'ajaxify-cart' %}

    {% if settings.bfca-offer %}
    {% if template contains 'cart' %}
    {% assign cart_total = 0 %}
    {% for cart_item in cart.items %}
    {% assign item_price = 0 %}
    {% unless cart_item.product.tags contains 'free-gift' %}
    {% assign item_price = cart_item.line_price %}
    {% assign cart_total = cart_total | plus: item_price %}
    {% endunless %}
    {% endfor %}

    <!--SHAKER	Prod: 3085432750144 Var: 26052895244352 -->
    {% if cart_total > 4899 %}
    {% assign ProductIDs = cart.items | map: 'product_id'| uniq | join: ', '  %}
    {% unless ProductIDs contains '3085432750144' %}
    {% assign queue = '[{ variant_id: 26052895244352, quantity_id: 1 }]' %}
    {% endunless %}
    {% endif %}

    <script defer>
      $(document).ready(function() {
        var queue = {{ queue }};
        function moveAlong(){
          if (queue.length) {
            var request = queue.shift();
            var tempId = request.variant_id;
            var tempQty = request.quantity_id;
            var params = {
              type: 'POST',
              url: '/cart/update.js',
              data: 'updates['+tempId+']='+tempQty,
              dataType: 'json',
              success: function(line_item) {
                moveAlong();
              },
              error: function() {
                alert(tempId);
              }
            };
            $.ajax(params);
          }
          else {	
            //  document.location.href = '/cart';
            // Replace the product section content
            // Update this URL to the final website URL
            var location = window.location.href;

            $.get(location, function(data){
              var $product = $(data).find('.Cart__ItemList');
              var $cartTotal = $(data).find('.Cart__Total');
              if($product.length) {
                $('.Cart__ItemList').replaceWith($product);
              } 
              /*  if($cartTotal.length) {
                  $('.Cart__Total').replaceWith($cartTotal);
                } */
            });

          }  
        };
        moveAlong();
      });
    </script>
    {% endif %}
    {% endif %}

    

    

    <script type="text/javascript" src="//cdn.wishpond.net/connect.js?merchantId=1156121&writeKey=94a1839a6c0b" async defer></script>

    <!-- Back in Stock helper snippet -->
    {% render 'back-in-stock-helper' %}
    <!-- End Back in Stock helper snippet -->

    <script>(function(){ var s = document.createElement('script'), e = ! document.body ? document.querySelector('head') : document.body; s.src = 'https://acsbapp.com/apps/app/dist/js/app.js'; s.async = true; s.onload = function(){ acsbJS.init({ statementLink : '', footerHtml : '', hideMobile : true, hideTrigger : false, language : 'en', position : 'left', leadColor : '#ae1f24', triggerColor : '#ae1f24', triggerRadius : '50%', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerIcon : 'people2', triggerSize : 'medium', triggerOffsetX : 75, triggerOffsetY : 22, mobile : { triggerSize : 'small', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerOffsetX : 20, triggerOffsetY : 10, triggerRadius : '50%' } }); }; e.appendChild(s);}());</script>
  

  <script defer="defer">
    /* Product Tag Filters - Good for any number of filters on any type of collection pages */
    var collFilters = jQuery('.coll-filter');
    collFilters.change(function() {
      var newTags = [];
      collFilters.each(function() {
        if (jQuery(this).val()) {
          newTags.push(jQuery(this).val());
        }
      });
      if (newTags.length) {
        var query = newTags.join('+');
        window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('/' + 'tag', '/' + query);
                                      }
                                      else {
                                      {% if collection.handle %}
                                      window.location.href = '/collections/{{ collection.handle }}';
                                      {% elsif collection.products.first.type == collection.title %}
                                      window.location.href = '{{ collection.title | url_for_type }}';
                                      {% elsif collection.products.first.vendor == collection.title %}
                                      window.location.href = '{{ collection.title | url_for_vendor }}';
                                      {% endif %}
                                      }
                                      });
  </script>

 {% if settings.product_redirect == true %}
    <!-- IPDATA feature -->
    <script defer="defer">
      {% render 'product-ipdata-redirect' %}
    </script>
  {% endif %}
  
    <!-- INTL Content feature -->
    <script defer="defer">
      {% render 'international-content' %}
    </script>

  <script>
      $.getJSON('https://api.db-ip.com/v2/pe2db1519a7604fd99896d70b62c22f9966f700e/self', function (data) {
        // $.getJSON('https://api.db-ip.com/v2/free/self', function (data) { 
        console.log('country data');
        console.log(data.countryCode);
        if (data.countryCode == 'US') {
          $('.global-show').remove();
          $('.us-show').show();
          $('.ca-show').remove();
          $('.uk-eu-show').remove();
        }
        else if  (data.countryCode == 'CA'){
          $('.global-show').remove();
          $('.us-show').remove();
          $('.ca-show').show();
          $('.uk-eu-show').remove();
        }
        else if  (data.countryCode == 'GB'){
          $('.global-show').remove();
          $('.us-show').remove();
          $('.ca-show').remove();
          $('.uk-eu-show').show();
        }
         else if  (data.countryCode == 'EU'){
          $('.global-show').remove();
          $('.us-show').remove();
          $('.ca-show').remove();
          $('.uk-eu-show').show();
        }
        else if  (data.country_code == 'AT' || data.country_code == 'BE' || data.country_code == 'BG' || data.country_code == 'CY' || data.country_code == 'CZ' || data.country_code == 'DE' || data.country_code == 'DK' || data.country_code == 'EE' || data.country_code == 'ES' || data.country_code == 'FI' || data.country_code == 'FR' || data.country_code == 'GR' || data.country_code == 'HR' || data.country_code == 'HU' || data.country_code == 'IE' || data.country_code == 'IT' || data.country_code == 'LT' || data.country_code == 'LU' || data.country_code == 'LV' || data.country_code == 'MT' || data.country_code == 'NL' || data.country_code == 'PO' || data.country_code == 'PT' || data.country_code == 'RO' || data.country_code == 'SE' || data.country_code == 'SI' || data.country_code == 'SK' ){
          $('.global-show').remove();
          $('.us-show').remove();
          $('.ca-show').remove();
          $('.uk-eu-show').show();
        }
        else {
          $('.us-show').show();
          $('.ca-show').remove();
          $('.uk-eu-show').remove();
        }
      }); 
    </script>
    
<!--     For the model viewer - 3d objects  start -->
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
<!--     For the model viewer - 3d objects  ends -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" referrerpolicy="no-referrer"></script>
    
{% section 'sezzle-widget' %}
<script>
   if ($(window).width() <= 767 ){
        $('.product-benifits').slick({dots: true,arrow:false});
        // $('.benifit-main-image').hide();
      }
</script>
{% if template == 'product' %}
  <script src="{{ 'lightbox.js' | asset_url}}"></script>
  <script>
    $( document ).ready(function() {
        var tobii = new Tobii();
    });
  </script>
{% endif %}
<script src="//cdn.shopify.com/s/files/1/0063/4218/0928/files/gem.js" type="text/javascript"></script>

</body>          
</html>